<div class="header">
    <a  class="main-text" href="/">happy fridge</a>
   </a>
   <ul a class="list">
      <li><a href="/getstarted"> Get started</a></li> 
      <li><a href="/aboutus"> About us</a></li>
      <li><a href="/login">Login</a></li></li>
   </ul>
</div>