<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 


<body>
    <div class="about-container">
        <div class="phone-alert"></div>
        <div class="alert-signup">
           <h2> Sign up for text alerts!</h2>
           <form>
            <div class="form-group"></div>
            <label for="number"><a class="paragraph-text">Phone Number</a><span class="form-group-required"></span></label>
            <input type="number" name="number" id="number" placeholder="(###)###-###"required>
           </form>
            <button> <a href="./results.html">Next</a></button>
        </div>
    </div>
   
    </body>

 

</html>