<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 

<body>     
    <div class="about-container">
        <div class="avocado"></div>
        <div class="get-started-form">
            <form>

                <h2>Let's get personal.</h2>
                <div class="form-group form-text">
                    <label for="name">Name <span class="form-group-required"></span></label><br>
                    <input type="text" name="name" id="name" placeholder="Enter your full name"required>
                </div>
                <div class="form-group form-text">
                    <label for="email">Email Address <span class="form-group-required"></span></label><br>
                    <input type="email" name="email" id="name" placeholder="Enter your email address"required>
                    </div>
                <div class="form-group form-text">
                    <label for="password">Password <span class="form-group-required"></label><br>
                    <input type="text" name="password" id="password" placeholder="Create a password">
                </div>
                <div class="form-group form-text">
                    
                    <label for="password">Confirm Password <span class="form-group-required"></label>
                    <input type="text" name="password" id="password" placeholder="Confirm password"><br>
                </div>
                <div class="form-group form-text">
                    <label for="number">Household size <span class="form-group-required"></label>
                    <input type="number" name="size" id="size" placeholder="#/people in your household">
                </div><br>
                <button type="submit"><a href="./uploadreceipt.html">Next</a></button>
            </form>
           
        </div>
    </div>
</body>

 

</html>