<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 

<body>
    <div class="pattern">
        <div class="white-box">
            <h1>Waste less and eat more.</h1>
            <p>
            <a class="reg-text">Join Happy Fridge to track your grocery haul and reduce food waste.</a></p>
           
            <button><a href="./getstarted.html">Get started</a></button></a>
        </div>
        <div class="fruit"></div>
    </div>
    <div class="blue-text">How does it work?</div>
    <div class="bottom-rectangle">
        
        <div class="yellow-box"><div class="number">1</div>
            <div class="fancy-text">
            Upload your receipts</div>

        </div>
        <div class="yellow-box"><div class="number">2</div>
        <div class="fancy-text">
        Get alerts on your groceries' lifetime</div>

        </div>
        <div class="yellow-box"><div class="number">3</div>
        <div class="fancy-text">
        Track your savings</div>

        </div>
        
    </div>
   
   
</body>

 

</html>