<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 


<body>
    <div class="about-container">
        <div class="fridge"></div>
        <div class="side-box">
           <h2> Now, let's see what's in your fridge... </h2> <p> <a class="paragraph-text">
               Manually input your grocery items or upload your grocery receipts.</a>
           </p>
           <div class="item-list">
               <ul>
                   <li>
                       Item 1
                   </li>
                   <li>Item 2
                   </li>
                   <li> Item 3</li>
                   <li>
                    Item 4
                   </li>
                   <li>
                       Item 5
                   </li>
                   <li> Item 6</li>
                   <li> Item 7</li>
                   <li>
                    Item 8
                </li>
                <li>Item 9
                </li>
                <li> Item 10</li>
                <li>
                 Item 11
                </li>
                <li>
                    Item 12
                </li>
               </ul>
               <button> <a href="./yourfridge.html">Next</a></button>
           </div>
        </div>
    </div>
   
    </body>

 

</html>