<%- include('../partials/head') -%> 
    
<%- include('../partials/nav') -%> 


<body>
    <div class="about-container">
        <div class="fridge-boxes">
            <h2>Your Fridge</h2>
            <div class="fridge-list">
            <ul>
                <li></li>
                <li></li>
                <li> </li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div></div>
        <div class="side-box">
            <h2>
               #/Items
               <br><br>
               Life span
            </h2>
               <br>
               <button><a href="./alerts.html">Next</a></button>
           </div>
        </div>
    </div>
   
    </body>

 

</html>