.header{
    display:flex;
    width:100%;
    height: 114px;
    background-color: #459663;
   
}

body
    {
    width:100%;
    margin:0;
    }

.main-text{
    font-family:'Playfair Display';
    font-weight:bold;
    font-size:48px;
    color:#FFFFFF;
    margin:20px;
    text-decoration: none;
}

h2{
font-family: 'Poppins';
font-weight: bold;
font-size: 36px;
background-color:#0000;
}

.reg-text{
    font-family:'Poppins';
    font-size:24px;
    background-color:#0000;

}

.fancy-text{
    flex-direction: column;
    font-family:'Playfair Display';
    font-weight:bold;
    font-size:40px;
    color:#3C87CD;
    text-align:left;
    margin:40px;
    
    
    
}

.number{
    flex-direction: column;
    font-family: 'Playfair Display';
    color:#3C87CD;
    font-style: bold;
    font-size: 130px;
    margin-left:20px;
    
}


button{
    font-family:'Poppins';
    color:#FFFFFF;
    font-size:25px;
    font-weight: bold;
    background-color:#E79B99;
    width:241px;
    height:65px;
    border-radius:30px;
    border:none 1px;
    margin-top:50px;
    
    
}

button a:link{
    text-decoration: none;
    color:#FFFFFF;
}

button a:visited{
    color:#FFFFFF;
}

button a:active{
    color:#FEC952;
}

.list{
    color:white;
    display:flex;
    flex-direction:row; 
    text-decoration: none;
}

.list a:link{
    font-family:'Poppins';
    font-weight: bold;
    font-size:24px;
    color:#FFFFFF;
    text-decoration: none;   
}

.list a:visited{
    color:#FFFFFF;
}

.list a:active{
    color:#FEC952;
}



.paragraph-text{
    font-family:'Poppins';
    font-size:16px;
    color:#000000;
    flex-wrap:wrap;
   
}
li{
    list-style-type: none;
    margin:20px;  
}



h1{
    font-family:'Playfair Display';
    font-weight:bold;
    font-size:64px;
    color:#459663;
}

.blue-text{
    font-family:'Playfair Display';
    font-weight:bold;
    font-size:50px;
    text-align: center;
    color: #3C87CD;
    ;
    line-height:51px;
    margin:50px;
}

.pattern{
    display:flex;
    flex-direction:row;
    width:100%;
    height:650px;
    background-image:url("./images/pattern.png");
    background-size:cover;
    
}

.white-box{
    flex-direction:column;
    width: 50%;
    height: 500px;
    background-color: #FFFFFF;
    background-size:cover;
    margin:30px;
}

.fruit{
    flex-direction:column;
    width: 50%;
    height: 100%;
    background-image:url("./images/fruit.png");
    background-size:cover;
}

.bottom-rectangle{
    display:flex;
    flex-direction:row;
    width:100%;
    height:600px;
    background-color:#FFFFFF;
    background-size:cover;
    justify-content: space-evenly;
}

.yellow-box{
    display:flex;
    flex-direction:row;
    width:368px;
    height:329px;
    background-color:#FFFFFF;
    border: 5px solid #FEC952;
    border-radius: 20px;
    
    justify-content: space-evenly;
}

.big-rectangle{
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;
    margin:auto;
   
}

.form-text{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #696F79;

}
.login-photo{
    flex-direction:column;
    width:420px;
    height:430px;
    margin:80px;
    background-image: url(./images/apple.png);
    background-size:cover;
  
}


#form{
    flex-direction: column;
    background-color:#FFFFFF;
    width:600px;
    height:500px;
    margin:30px;
}

label{
    font-size:10px;
}

input[type="text"],
input[type="email"],
input[type="number"]
{
    font-family:'Poppins';
    background-color:#FFFFFF;
    border:1px solid #8692A6;
    width:400px;
    padding:10px;
    margin:10px;
    border-radius:6px;
}

.about-container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin:20px;
}

.stat-1{
    flex-direction:column;
    background-image: url("./images/Group\ 1.png");
    background-size:cover;
    width:369px;
    height:300px;
    margin:20px;
}

.stat-2{
    flex-direction:column;
    background-image: url("./images/Group\ 2.png");
    background-size:cover;
    width:369px;
    height:300px;
    margin:20px;
}

.stat-3{
    flex-direction:column;
    background-image: url("./images/Group\ 3.png");
    background-size:cover;
    width:369px;
    height:300px;
    margin:20px;
}

.avocado{
    flex-direction: column;
    background-image:url("./images/avocado.png");
    background-size:cover;
    width: 350px;
    height: 393px;
    margin:80px;
}

.get-started-form{
    flex-direction:column;
    width:500px;
    height:500px;
    background-color: #FFFFFF;
    background-size:cover;
}

.test{
    flex-direction:column;
    width:500px;
    height:500px;
    background-color: #7a1515;
    background-size:cover;
}

.fridge{
    flex-direction: column;
    background-image: url("./images/fridge.png");
    background-size:cover;
    width:491px;
    height:633px;
    margin:20px;
}

.side-box{
    flex-direction:column;
    margin-top:20px;
    width:550px;
}



ul{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.item-list li{
    flex-direction:column;
    width:122px;
    height:35px;
    border:solid #5FB4F2 1px;
    border-radius:10px;
    text-align:center;
    font-family:'Poppins';
}

.fridge-boxes{
    flex-direction: column;
    width:800px;
    height:633px;
    margin:20px;
}
.fridge-list ul{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.fridge-list li{
    flex-direction:column;
    width: 198px;
    height: 147px;
    background-color: #C4C4C4;
    border-radius: 20px;
}

.phone-alert{
    flex-direction:column;
    background-image: url("./images/phonealert.png");
    background-size: cover;
    width: 1120px;
    height: 746px;
   
}

.alert-signup{
    flex-direction:column;
    margin-top:50px;
    width:600px;
}



@media screen and (min-width:481px),(max-width:768px){
    .pattern{
        display:flex;
        flex-direction:row;  
      }
      
      .white-box{
          flex-direction:column;
      }
      
      .fruit{
          flex-direction:column;
      }
      }

@media screen and (max-width:480px){

        .main-text{
            font-size:24px;
        }

        .list a:link{
            font-size:12px;
        }

        .list{
            flex-direction:column;
        }
        li{
            margin:5px;
        }
        .header{
            display:flex;
            height: auto;
            width:auto;
        }
        
        ul.li{
            flex-wrap:wrap;
            flex-direction:row;
        }
        
        .pattern{
          display:flex;
          flex-direction:column;  
          height:700px;
          width:auto;
        }
        
        .white-box{
            flex-direction:row;
            align-self:center;
        }
        
        .fruit{
            flex-direction:row;
            width:70%;
            align-self:center;
        }

        h1{
            font-size:32px;
        }

        .reg-text{
            font-size:20px;
        }

        button{
            font-size:15px;
            margin-top:10px;
            width:180px;
        }

        .blue-text{
            font-size:25px;
        }

        .bottom-rectangle{
            display:flex;
            flex-direction:column;
            height:500px;
            width:50%;
            align-items:center;
            justify-content: space-evenly;
            
        }
        .yellow-box{
           flex-direction:row;
           width:auto;
           height:auto;
          
           align-items:center;
           margin:10px;
        }
        .number{
            font-size:50px;
        }

        .fancy-text{
            font-size:20px;
            flex-wrap:wrap;
        }

        .about-container{
            display:flex;
            flex-direction:column;
        }
        .stat-1{
            flex-direction:row;
            width:184px;
            height:150px;;
        }
        
        .stat-2{
            flex-direction:row;
            width:184px;
            height:150px;
        }

        .stat-3{
            flex-direction:row;
            width:184px;
            height:150px;
        }
        
        .phone-alert{
            flex-direction:row;
            width:400px;
            height:373px;
            margin:0px;
        }

        .alert-signup{
            flex-direction:row;
            width:300px;
        }
        
        .avocado{
            flex-direction:row;
            width:175px;
            height:196px;
            margin:0px;
            align-self:center;
        }

        .get-started-form{
            flex-direction:row;
            width:auto;
            flex-wrap:wrap;
        }

        input[type="text"],
        input[type="email"],
        input[type="number"]
        {
            font-family:'Poppins';
            background-color:#FFFFFF;
            border:1px solid #8692A6;
            width:auto;
            padding:10px;
            margin:10px;
            border-radius:6px;
            font-size:10px;
            
        }
        .form-text{
            font-size:10px;
        }
        h2{
            font-size:18px;
        }

        .big-rectangle{
            display:flex;
            flex-direction:column;
            width:50%;
        }
        .login-photo{
            flex-direction:row;
            width:210px;
            height:250px;
            margin:0px;
        }

        #form{
            flex-direction: row;
            width:auto;
        }

        .fridge{
            flex-direction:row;
            width:245px;
            height:316px;
            margin:auto;
        }

        .side-box{
            flex-direction:row;
            margin:auto;
            width:350px;
            flex-wrap:wrap;
        }

        .fridge-boxes{
            flex-direction:row;
            width:auto;
            height:auto;
        }

        .fridge-list li{
            flex-direction: row;
            width:100px;
            height:74px;
            border-radius:5px;
            flex-wrap:wrap;
        }
        }
        
        